*, *::before, *::after {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: normal;
}

body {

    /* Body will cover whole page */
	padding: 0;
	margin: 0;
	/*background: linear-gradient(to right, #00AAFF, #00FF6C);*/
	background: #4A708B
}

.calculator-body {

	border: 1px solid black;

}

.calculator-grid {

	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {

	cursor: pointer;
	font-size: 2rem;
	outline: none;
	background-color: rgba(0, 0, 0, .7);
    border: 8px solid #444444;
    color: #f5c71a;
}

.calculator-grid #ac-button {

	color: red;
}

.calculator-grid .numbers {

	color: white;
}

.calculator-grid > button:hover {

	background-color: rgba(0, 0, 0, .9);
}

.span-two {

	grid-column: span 2;
}

.operation-button-clicked {

	background-color: rgba(0, 0, 0, 1);
}

.output {

	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	border: 8px solid #444444;
}

.output .display {

	color: white;
	font-size: 1.6rem;
}