*, *::before, *::after {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: normal;
}

html {

	font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (2560 - 300)));
}

body {

    /* Body will cover whole page */
	padding: 0;
	margin: 0;
	/*background: linear-gradient(to right, #00AAFF, #00FF6C);*/
	background: #4A708B
}

.calculator-body {

	border: 1px solid black;

}

.calculator-grid {

	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 6rem);
	grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {

	cursor: pointer;
	font-size: 1.5rem;
	outline: none;
	background-color: rgba(0, 0, 0, .7);
    border: 0.5rem solid #444444;
    color: #f5c71a;
}

.calculator-grid #ac-button {

	color: red;
}

.calculator-grid .numbers {

	color: white;
}

.calculator-grid > button:hover {

	background-color: rgba(0, 0, 0, .9);
}

.span-two {

	grid-column: span 2;
}

.operation-button-clicked {

	background-color: rgba(0, 0, 0, 1);
}

.output {

	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 1rem;
	word-wrap: break-word;
	word-break: break-all;
	border: 0.8rem solid #444444;
}

.output .display {

	color: white;
	font-size: 1.6rem;
}